html, body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background: #ddd;
  padding: 15px;
  text-align: center;
}

.pdv-container {
  flex: 1;
  display: flex;
  padding: 20px;
  gap: 20px;
}


.entrada-produto {
  width: 220px;
  background: #eee;
  padding: 15px;
  border-radius: 5px;
}

.entrada-produto label {
  display: block;
  margin-top: 10px;
}

.entrada-produto input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}


.lista-produtos {
  flex: 1;
  background: white;
  padding: 10px;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border-bottom: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}


.rodape {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #ddd;
}

.total {
  font-size: 22px;
  font-weight: bold;
}

.acoes button {
  padding: 10px 15px;
  margin-left: 10px;
  cursor: pointer;
}

.finalizar {
  background: green;
  color: white;
  border: none;
}
